<div class="container">
  <h1><%= @restaurant.name %></h1>

    <ul>
      <li>Adress: <%= @restaurant.address %></li>
      <li>Tel: <%= @restaurant.phone_number %></li>
      <li>Category: <%= @restaurant.category %></li>
    </ul>

    <br>
    <%=link_to "Back to Restaurants List", restaurants_path %>

    <h2>Add Review to Restaurant</h2>
    <%= simple_form_for [@restaurant, @review] do |f| %>
      <%= f.input :content  %>
      <%= f.submit 'Add Review', class: 'btn btn-primary' %>
    <% end %>


</div>
